*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: blue;
}
#main-input{
    width: 50%;
    margin: 0 auto;
    /* background-color: rgb(140, 140, 253); */
    height: 50%;
    /* font-size: 1.5em; */
    border: 2px solid gray;
    padding: 1%;
    border-radius: 10px;
    /* background-color: rgb(255, 128, 0); */
    background : linear-gradient(to right,rgb(255, 200, 0) 50%, rgb(255, 208, 0) 50% );
    color: black;
    margin-top: 2%;
    box-shadow: 2px 3px 20px 10px  rgb(255, 128, 0);
}
body h1{
    text-align: center;
    color: white;
}
#input-form{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}
#input-form input{
    /* font-size: 19px; */
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}
.btn{
    width: 20%;
    padding: 2%;
    background-color: rgb(73, 120, 230);
    color: white;
    font-size: 1rem;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
}
label input{
margin: 10px 0;

}
table{
margin-top: 5%;
width: 100%;
    background-color: aliceblue;
}
table th{
    
}
